<h1>投稿一覧</h1>
<%@lists.each do |list|%>
 <p>タイトル</p>
 <spen><%= link_to list.title, todolist_path(list.id) %></spen>
 <p>画像</p>
 <%= attachment_image_tag list, :image, format:'jpeg',size:"100x100"  %>
<%end%>